files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * webapp /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/bin/bash

            #date > /tmp/date
            # Your actual script content

            cd /var/app/current

            rm -rf .env

            echo APP_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k APP_NAME) >> .env
            echo APP_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k APP_ENV) >> .env
            echo APP_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k APP_KEY) >> .env
            echo APP_DEBUG=$(/opt/elasticbeanstalk/bin/get-config environment -k APP_DEBUG) >> .env
            echo APP_LOG_LEVEL=$(/opt/elasticbeanstalk/bin/get-config environment -k APP_LOG_LEVEL) >> .env
            echo APP_URL=$(/opt/elasticbeanstalk/bin/get-config environment -k APP_URL) >> .env
            echo DB_CONNECTION=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_CONNECTION) >> .env
            echo DB_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_HOST) >> .env
            echo DB_PORT=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_PORT) >> .env
            echo DB_DATABASE=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_DATABASE) >> .env
            echo DB_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_USERNAME) >> .env
            echo DB_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_PASSWORD) >> .env
            echo BROADCAST_DRIVER=$(/opt/elasticbeanstalk/bin/get-config environment -k BROADCAST_DRIVER) >> .env
            echo CACHE_DRIVER=$(/opt/elasticbeanstalk/bin/get-config environment -k CACHE_DRIVER) >> .env
            echo SESSION_DRIVER=$(/opt/elasticbeanstalk/bin/get-config environment -k SESSION_DRIVER) >> .env
            echo QUEUE_DRIVER=$(/opt/elasticbeanstalk/bin/get-config environment -k QUEUE_DRIVER) >> .env
            echo MAIL_DRIVER=$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_DRIVER) >> .env
            echo MAIL_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_HOST) >> .env
            echo MAIL_PORT=$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_PORT) >> .env
            echo MAIL_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_USERNAME) >> .env
            echo MAIL_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_PASSWORD) >> .env
            echo MAIL_ENCRYPTION=$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_ENCRYPTION) >> .env
            echo MAIL_FROM_ADDRESS=$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_FROM_ADDRESS) >> .env
            echo MAIL_FROM_NAME=\"$(/opt/elasticbeanstalk/bin/get-config environment -k MAIL_FROM_NAME)\" >> .env
            echo SCOUT_INDEX=$(/opt/elasticbeanstalk/bin/get-config environment -k SCOUT_INDEX) >> .env
            echo ALGOLIA_APP_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k ALGOLIA_APP_ID) >> .env
            echo ALGOLIA_API_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k ALGOLIA_API_KEY) >> .env
            echo ALGOLIA_SECRET=$(/opt/elasticbeanstalk/bin/get-config environment -k ALGOLIA_SECRET) >> .env
            echo STRIPE_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k STRIPE_KEY) >> .env
            echo STRIPE_SECRET=$(/opt/elasticbeanstalk/bin/get-config environment -k STRIPE_SECRET) >> .env
            echo STRIPE_ALERT_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k STRIPE_ALERT_ID) >> .env
            echo MGM_INVITER=$(/opt/elasticbeanstalk/bin/get-config environment -k MGM_INVITER) >> .env
            echo MGM_INVITEE=$(/opt/elasticbeanstalk/bin/get-config environment -k MGM_INVITEE) >> .env
            echo AWS_REGION=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_REGION) >> .env
            echo AWS_BUCKET=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_BUCKET) >> .env
            echo AWS_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_KEY) >> .env
            echo AWS_SECRET=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_SECRET) >> .env
            echo SENTRY_DSN=$(/opt/elasticbeanstalk/bin/get-config environment -k SENTRY_DSN) >> .env
            echo GOOGLE_ANALYTICS=$(/opt/elasticbeanstalk/bin/get-config environment -k GOOGLE_ANALYTICS) >> .env
            echo GOOGLE_TAG_MANAGER=$(/opt/elasticbeanstalk/bin/get-config environment -k GOOGLE_TAG_MANAGER) >> .env
            echo GOOGLE_CLIENT_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k GOOGLE_CLIENT_ID) >> .env
            echo GOOGLE_CLIENT_SECRET=$(/opt/elasticbeanstalk/bin/get-config environment -k GOOGLE_CLIENT_SECRET) >> .env
            echo LOG_CHANNEL=$(/opt/elasticbeanstalk/bin/get-config environment -k LOG_CHANNEL) >> .env

            php artisan schedule:run

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
